* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  font-family: Arial, Helvetica, sans-serif;
  padding: 2rem 2rem 0 2rem;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.links {
  display: flex;
  justify-content: space-between;
}
h3 {
  font-weight: 500;
}
.links h4 {
  padding: 0 1rem;
  font-weight: 50;
  font-size: medium;
}
button {
  padding: 10px 15px;
  border-radius: 5px;
  border: none;
}

.register {
  border: none;
  background: none;
  color: #2f80ed;
}

.sign-in {
  border: none;
}

/* Hero --------------------------------------- Hero ---------------- Hero */

.hero {
  width: 100%;
  height: 32rem;
  display: flex;

  border-radius: 8px;
  margin: 2rem 0;
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.6)),
    url(./images/banner.png);
  background-position: center;
  background-size: cover;
  justify-content: center;
  align-items: center;
}
.hero-text {
  width: 50%;
  text-align: center;

  color: #fff;
}
.hero-text h1 {
  padding: 2rem 0;
  font-size: xx-large;
  font-weight: 450;
}
.hero-text h3 {
  font-size: large;
  font-weight: 100;
}

.cta {
  display: flex;
  margin: auto;
  width: 80%;
  justify-content: space-evenly;
  align-items: center;
  position: relative;
  margin-top: -50px;
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 1px 1px 30px rgb(105, 104, 104);
  z-index: 1;
  padding: 8px 0;
}

.cta-element {
  background-color: #f2f2f2;
  height: 3rem;
  padding: 5px 10px;
  border-radius: 8px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 18%;
}

.cta-element p {
  font-size: small;
  font-weight: 100;
}

.cta-button {
  background-color: #2f80ed;
  color: #fff;
  width: 15%;
  font-size: medium;
  font-weight: 300;
}

/* Warning --------------------------------------- Warning ---------------- Warning */
.warning {
  margin: 3rem 0;
  display: flex;
  align-items: center;
  border-radius: 8px;
  height: 5rem;
  background-color: #fcefca;
  padding-left: 2rem;
}

.warning span {
  color: #2f80ed;
}

/* PLACES _____________________________________________ PLACES ____________________________ */
.places-section {
  margin: 5rem 0;
}
.places {
  display: flex;
  justify-content: space-between;
  height: 200px;
}

.place {
  width: 23%;
}

.place img {
  width: 100%;
  height: 100%;
  border-radius: 8px;
}
.place p {
  font-size: small;
  font-weight: 100;
}

.places-text {
  margin: 2rem 0;
  width: 55%;
}
.places-text h1 {
  font-weight: 550;
  margin-bottom: 1rem;
}
.places-text p {
  font-weight: 100;
}

/* TRIPS ------------------------ TRIPS ------------------------ TRIPS-------- */
.trips {
  display: flex;
  justify-content: space-between;
  margin: 2rem 0;
  height: 300px;
}

.trip {
  width: 32%;
  border-radius: 8px;
  padding: 200px 40px 40px 10px;
  color: #fffdfd;
}

.sydney {
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)),
    url(./images/banner.png);
  background-position: center;
  background-size: cover;
}
.vegan {
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)),
    url(./images/vegan.png);
  background-position: center;
  background-size: cover;
}
.top {
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)),
    url(./images/mountains.png);
  background-position: center;
  background-size: cover;
}

.trip .heading {
  font-size: 20px;
  padding-bottom: 10px;
}
.trip .details {
  font-size: 15px;
}

/* HOTELS ___________________________________HOTELS_________-----___----____--____-___--_--_--__
 */
.hotels-section {
  margin: 5rem 0;
}
.hotels {
  display: flex;
  justify-content: space-between;
  height: 300px;
}

.hotel {
  width: 23%;
}

.hotel img {
  width: 100%;
  height: 100%;
  border-radius: 8px;
}
.hotel h3 {
  font-size: 20px;
  font-weight: 520;
}
.hotel p {
  font-size: small;
  font-weight: 100;
}

.hotels-text {
  margin: 2rem 0;
  width: 55%;
}
.hotels-text h1 {
  font-weight: 550;
  margin-bottom: 1rem;
}

/* PROMO BANNER ---------------------- */
.banner-outer {
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.1)),
    url(./images/footer-banner.png);
  height: 300px;
  background-position: center;
  border-radius: 8px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.banner-inner {
  color: white;
  width: 60%;
}
.banner-inner h1 {
  margin-bottom: 2rem;
}
.banner-inner button {
  border: none;
  border-radius: 8px;
  background-color: #2f80ed;
  color: white;
  padding: 1rem;
}

.bottom-text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 5rem 0;
}

.bottom-text h {
  font-weight: 400;
  margin-bottom: 1rem;
}
.bottom-text p {
  color: #2f80ed;
}

/* -------------------- FOOTER --------------- */
.footer {
  display: flex;
  justify-content: space-evenly;
}

.footer-inner {
  width: 18%;
  display: flex;
  flex-direction: column;
  justify-content: baseline;
  align-items: start;
  height: 60%;
}
.footer-inner h {
  padding-bottom: 0.8rem;
}
.footer-inner p {
  font-size: 12px;

  padding: 0.5rem 0;
}

.see-more {
  color: #2f80ed;
}
.footer-breadcrump {
  background-color: #ebebeb;
  font-size: 16px;
  margin-top: 4rem;
  padding: 0.7rem 5rem;
  text-align: end;
}

@media screen and (max-width: 720px) {
  .container {
    padding: 0.5rem;
  }
  .navbar {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
  }
  .heading {
    width: 100%;
    text-align: center;
    margin-bottom: 10px;
  }
  .links {
    width: 100%;
  }
  .links h4 {
    font-size: 13px;
    margin-bottom: 10px;
  }
  .cta {
    flex-direction: column;
    padding: 1rem;
    margin-top: -100px;
  }
  .cta-element {
    margin-bottom: 1rem;
    width: 80%;
  }

  .places-section {
    height: auto;
    margin: 0;
  }
  .places-text {
    width: 100%;
    text-align: center;
    font-size: 15px;
    margin: 0;
  }
  .places {
    justify-content: space-between;
  }
  .place {
    width: 24%;
  }
  .place img {
    height: 50%;
  }
  .place h3 {
    font-size: 12px;
    font-weight: 700;
  }
  .place p {
    font-size: 10px;
  }

  .trips-sections h1 {
    text-align: center;
  }
  .trips {
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    height: 600px;
  }
  .trip {
    margin-bottom: 20px;
    height: 32%;
    padding: 0;
    margin: 0;
    width: 90%;
    background-size: cover;
  }
  .heading {
    margin-top: 20%;
    text-align: center;
  }
  .details {
    text-align: center;
  }
  .hotels-section {
    margin-bottom: 0;
  }
  .hotels-text {
    margin: auto;
  }
  .hotel img {
    height: 40%;
  }
  .hotel h3 {
    font-size: 12px;
    font-weight: 600;
  }
  .hotel p {
    font-size: 10px;
  }

  .banner-inner {
    text-align: center;
  }
  .banner-inner h1 {
    font-size: 20px;
  }
  .bottom-text {
    text-align: center;
  }
  .footer {
    flex-direction: column;
  }
  .footer-inner {
    width: 100%;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
  }
}
